<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mihaela.smarthouse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home_activity.HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".planner.PlannerActivity" />
        <activity android:name=".command_center.CommandCenterActivity" />
        <activity android:name=".stats.StatsActivity"  android:label="@string/app_name" />
        <activity android:name=".notifications.NotificationsActivity"></activity>
        <activity android:name=".editor_activities.NumberPickerActivity" />
        <activity android:name=".editor_activities.OptionPickerActivity"/>
        <activity android:name=".editor_activities.TvEditor"/>
        <activity android:name=".editor_activities.AirConditioningEditor"/>
        <activity android:name=".editor_activities.WashingMachineEditor"/>
        <activity android:name=".editor_activities.WaterSystemEditor"/>
        <activity android:name=".editor_activities.CookingMachineEditor"/>
        <activity android:name=".editor_activities.FridgeEditor"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
